* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*padding can't affect box size*/
  /*font-weight: normal;*/
  /*border: 1px black solid*/
}

@font-face {
  /*font-family: 'Macondo', cursive;*/
  font-family: 'Indie Flower', cursive;
  src: url('https://fonts.googleapis.com/css?family=Macondo');
  src: url('https://fonts.googleapis.com/css?family=Indie+Flower');
}

html, body {
  height: 100%;
}

body {

  background: url(images/seattle-evening-wheel.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*#title {
  font-family: Indie Flower;
  font-size: 8em;
}*/

#store-information {
  font-family: verdana;
  font-size: 2em;
  border-top: 4px dashed #FA8072;
}

.round-pic {
  border-radius: 50%;
  width:15%;
  display: inline-block;
  margin: 2%;
}


#pike {
  width: 200px;
  display: inline;
}

#seattle-center {

}

#alki {
  display: inline;

}

#locations{
  display: inline-block;
  width: auto;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

h2 {
  display: inline-block;
  width: auto;
}

p {
  display: inline-block;
  width: auto;
}

a {
  text-decoration: none;
}

.right {
  float:right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

/*main {
  position: relative;
}*/

#empty-space {
  height: 100px;
}

#pike-info {
margin-left: 45px;
}

#caphill-info {
margin-left: 100px;
}

#seatac-info {
margin-left: 115px;
}

#seacenter-info {
margin-left: 105px;
}

#alki-info {
margin-left: 115px;
width: auto;
}

.loc-time {
margin: 0 auto;
width: auto;
}


#main-content {
  border-top: 4px solid salmon;
  border-right: 4px solid salmon;
  border-left: 4px solid salmon;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  /*background-color: white;*/
  height: 100%;
  width: 960px;
  margin: auto;
  overflow: visible;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EFAAAE));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* W3C Markup, IE10 Release Preview */
  background-imag e: linear-gradient(to bottom, #FFFFFF 0%, #EFAAAE 100%);
}
