* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*padding can't affect box size*/
  /*font-weight: normal;*/
  /*border: 1px black solid*/
}

@font-face {
  /*font-family: 'Macondo', cursive;*/
  font-family: 'Indie Flower', cursive;
  src: url('https://fonts.googleapis.com/css?family=Macondo');
  src: url('https://fonts.googleapis.com/css?family=Indie+Flower');
}

html, body {
  height: 100%;
  /*height: 2000px;*/
}

body {
  /*width: 960px;*/
  /*height: 1300px;*/
  margin: 0 auto;
  background: url(images/seattle-evening-wheel.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: 'Patua One', cursive;*/

}

/*#title {
  font-family: Indie Flower;
  font-size: 8em;
}*/

#contact-us {
  height: 350px;
  width: 200px;
  position: fixed;
  top: 100px;
  right: 110px;
  background-color: white;
  border: 2px solid salmon;
  border-radius: 1%;
}

#cartoon-fish {
  height: 200px;
  width: 196px;
  margin-bottom: 25px;
}

#store-information {
  font-family: verdana;
  font-size: 2em;
  border-top: 4px dashed #FA8072;
}

#store-locations {
  padding-bottom: 15px;
  border-bottom: 4px dashed #FA8072;
}

#family-pic-box {
  padding-bottom: 4px;
  /*border-left: 4px solid salmon;*/
  /*border-right: 4px solid salmon;*/
}

#diy {
  border-top: 4px solid salmon;
  padding-top: 8px;
}

#diy-paragraph {
  font-size: 2em;
}

#cutter-pic {
  display: inline-block;
  width: 49%;
}

#frosted-cookie-pic {
  display: inline-block;
  width: 49%;
  margin-top: 22px;
  margin-left: 10px;
}

#shirt {
  border-top: 4px solid salmon;
  padding-top: 8px;
  padding-bottom: 8px;
}

#shirt-pic {
  width: 49%;
}

#shirt-paragraph {
  font-size: 2.5em;
}

#chinook {
  background-color: white;
  border-top: 4px solid salmon;
  border-bottom: 4px solid salmon;
}

#chinook-pic {
  width: 400px;
  /*margin-left: 525px;*/
}

#coming-soon {
  /*display: inline-block;*/
  font-size: 3em;
}

#footer {
  position:fixed;
  /*margin: 0 auto;*/
  right:0px;
  /*left:435px;*/
  bottom:0px;
  height:30px;
  width:100%;
  background:#D0D6FB;
  text-align: center;
  border-top: 4px solid salmon;
}

#pike {
  width: 200px;
  display: inline;
}

#seattle-center {

}

#alki {
  display: inline;

}

#locations{
  display: inline-block;
  width: auto;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

h2 {
  display: inline-block;
  width: auto;
}

p {
  display: inline-block;
  width: auto;
}

a {
  text-decoration: none;
}

.right {
  float:right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

.center {
  margin: 0 auto;
  text-align: center;
  display: block;
  font-size: 1.5em;
}

.emphasize {
  font-style: italic;
}

.round-pic {
  border-radius: 50%;
  width:15%;
  display: inline-block;
  margin: 2%;
}

.small {
  font-size: 1em;
}

/*main {
  position: relative;
}*/

.empty-space {
  height: 100px;
}

#pike-info {
margin-left: 40px;
}

#caphill-info {
margin-left: 100px;
}

#seatac-info {
margin-left: 120px;
}

#seacenter-info {
margin-left: 115px;
}

#alki-info {
margin-left: 120px;
width: auto;
}

.loc-time {
margin: 0 auto;
width: auto;
}


#main-content {
  border-top: 4px solid salmon;
  border-right: 4px solid salmon;
  border-left: 4px solid salmon;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  /*background-color: white;*/
  /*height: 1300px;*/
  width: 960px;
  margin: auto;
  overflow: visible;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EFAAAE));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EFAAAE 100%);

  /* W3C Markup, IE10 Release Preview */
  background-imag e: linear-gradient(to bottom, #FFFFFF 0%, #EFAAAE 100%);
}
