/* reset */

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*padding can't affect box size*/
  font-weight: normal;
  /*border: 1px black solid*/
}

@font-face {
  /*font-family: 'Macondo', cursive;*/
  font-family: 'Indie Flower', cursive;
  src: url('https://fonts.googleapis.com/css?family=Macondo');
  src: url('https://fonts.googleapis.com/css?family=Indie+Flower');
}

html, body {
  height: 100%;
  /*font-family: Indie Flower;*/
  size: 3em;
}

body {
  background-color: #D1DBBD;

}

table {
  width: 50%;
  font-size: 1.5em;
  margin: 20px auto;
}

td {
  border: 1px solid black;
}

#create-new-store {
  width: 35%;
  margin: auto;
  border: 1px solid black;
}

h1 {
  margin: 0 auto;
  background-color: #D1DBBD;
  text-align: center;
  font-size: 5em;
}

#wrapper {
  height: auto;
  width: 940px;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #FCFFF5;
  border-radius: 70px;
  border: 1px solid black;

}

.right {
  float:right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

main {
  position: relative;
}

.fish-container {
}

#logo {
  display: block;
  width: ;
  /*padding: 0 25%;*/
  margin: 0 auto;
  /*position: relative;*/
}

tr {
  text-align: center;
}
